<!-- Begin Body -->
<div class="container">
	<div class="row">
		<div class="col col-sm-3">
        <div id="sidebar">
  					<ul class="nav nav-stacked">
                <li><h3 class="highlight">Filtre les offres<i class="glyphicon glyphicon-filter pull-right"></i></h3></li>
								<div class="col col-sm-3">
								<select class="event-type-select Roboto-light">
								 <li><option class="Roboto-light" style="color:#3498db;" value="all">Tous</option></li>
								 <li><option class="Roboto-light" style="color:#3498db;" value="Maison">Maison</option></li>
								 <li><option class="Roboto-light" style="color:#3498db;" value="Appartement">Appartement</option></li>
							 </select>
							</ul>
           </div>
      		</div>
