<?xml version="1.0" encoding="UTF-8"?>
<web-app
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  id="WebApp_ID"
  version="3.0">

<welcome-file-list>
 <welcome-file>/pages/home.jsp</welcome-file>
</welcome-file-list>

<error-page>
  <error-code>404</error-code>
 <location>/pages/errorPage.jsp</location>
</error-page>

<servlet>
  <servlet-name>AllUtilisateurs</servlet-name>
  <servlet-class>utilisateur.UtilisateurServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>AllUtilisateurs</servlet-name>
  <url-pattern>/utilisateurs</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>HOME</servlet-name>
  <servlet-class>hebergement.HebergementServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>HOME</servlet-name>
  <url-pattern>/home</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>AddUtilisateurServlet</servlet-name>
  <servlet-class>utilisateur.UtilisateurServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>AddUtilisateurServlet</servlet-name>
  <url-pattern>/addUtilisateurServlet</url-pattern>
</servlet-mapping>


<servlet>
  <servlet-name>AddUtilisateur</servlet-name>
  <jsp-file>/pages/addUtilisateur.jsp</jsp-file>
</servlet>

<servlet-mapping>
  <servlet-name>AddUtilisateur</servlet-name>
  <url-pattern>/addUtilisateur</url-pattern>
</servlet-mapping>


<servlet>
  <servlet-name>Associations</servlet-name>
  <jsp-file>/pages/showLinks.jsp</jsp-file>
</servlet>

<servlet-mapping>
  <servlet-name>Associations</servlet-name>
  <url-pattern>/showLinks</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>AddHebergementServlet</servlet-name>
  <servlet-class>hebergement.HebergementServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>AddHebergementServlet</servlet-name>
  <url-pattern>/addHebergementServlet</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>utilisateur.LoginServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/loginServlet</url-pattern>
</servlet-mapping>


<servlet>
  <servlet-name>LogoutServlet</servlet-name>
  <servlet-class>utilisateur.LogoutServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>LogoutServlet</servlet-name>
  <url-pattern>/logoutServlet</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>AddHebergement</servlet-name>
  <jsp-file>/pages/addHebergement.jsp</jsp-file>
</servlet>

<servlet-mapping>
  <servlet-name>AddHebergement</servlet-name>
  <url-pattern>/addHebergement</url-pattern>
</servlet-mapping>


<servlet>
  <servlet-name>Login</servlet-name>
  <jsp-file>/pages/login.jsp</jsp-file>
</servlet>

<servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/login</url-pattern>
</servlet-mapping>


<env-entry>
  <env-entry-name>host</env-entry-name>
  <env-entry-type>java.lang.String</env-entry-type>
  <env-entry-value>mysql.info.unicaen.fr</env-entry-value>
</env-entry>

<env-entry>
  <env-entry-name>database</env-entry-name>
  <env-entry-type>java.lang.String</env-entry-type>
  <env-entry-value>21509313_8</env-entry-value>
</env-entry>

<env-entry>
  <env-entry-name>username</env-entry-name>
  <env-entry-type>java.lang.String</env-entry-type>
  <env-entry-value>21509313</env-entry-value>
</env-entry>

<env-entry>
  <env-entry-name>password</env-entry-name>
  <env-entry-type>java.lang.String</env-entry-type>
  <env-entry-value>Radamanth1s</env-entry-value>
</env-entry>

<env-entry>
  <env-entry-name>table</env-entry-name>
  <env-entry-type>java.lang.String</env-entry-type>
  <env-entry-value>hebergement</env-entry-value>
</env-entry>

<env-entry>
  <env-entry-name>tableUser</env-entry-name>
  <env-entry-type>java.lang.String</env-entry-type>
  <env-entry-value>utilisateurs</env-entry-value>
</env-entry>


</web-app>
